cache/
citizen/
crashes/

FXServer.exe
botan.dll
cfx_curl_x86_64.dll
citizen-resources-core.dll
citizen-resources-metadata-lua.dll
citizen-scripting-core.dll
citizen-scripting-lua.dll
citizen-scripting-mono.dll
citizen-scripting-v8.dll
citizen-server-impl.dll
citizen-server-instance.dll
citizen-server-main.dll
citizen-server-net.dll
citizen-ssh-server.dll
components.json
comptest.dll
conhost-server.dll
CoreRT.dll
devcon.dll
ETWProviders64.dll
http-client.dll
icudtl.dat
icui18n.dll
icuuc.dll
libmono-btls-shared.dll
libssh.dll
libuv.dll
mono-2.0-dac-sgen.dll
mono-2.0-sgen.dll
MonoPosixHelper.dll
net-base.dll
net-http-server.dll
net-tcp-server.dll
nng.dll
node.dll
profiles.dll
run.cmd
scrbind-base.dll
scripting-server.dll
server-tls.crt
steam.dll
svadhesive.dll
v8_libbase.dll
v8_libplatform.dll
v8.dll
vfs-core.dll
vfs-impl-server.dll
voip-server-mumble.dll
fineLog.txt
haukLog.txt
README.md 
